<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <div class="page-container">
    <div class="banner" style="background-image: /*linear-gradient(rgba(255,255,255,0.1), rgba(0,0,0,0))*//*,*/ url('<%= image_path 'banner_cocktail.jpg' %>');">
      <div class="container">
        <div class="field">
        </div>
        <h2>Let's</h2>
        <h1>MIX IT</h1>
        <br>
        <%= link_to image_tag('add_cocktail', class: "add_cocktail_link"), new_cocktail_path %>
        <p>
         <span id="banner-typed-text"></span>
       </p>
     </div>
   </div>

   <div class="text-inbetween">
    <p>OUR FAVORITES</p>
  </div>

</div>
</body>
</html>

<div>

  <!-- onclick: "cocktail_path(cocktail).location.reload()" -->


