<div class="hintergrund_cocktail_container_header">
  <%= link_to image_tag('cocktail_rosa', class: "home_button_single"), cocktails_path %>
  <div class="hintergrund_cocktail_container">
    <div class="container_cocktail_form">
      <h2 class="ueberschrift_new_cocktail">New Cocktail</h2>

        <%= render 'form', cocktail: @cocktail %>

    </div>
  </div>
</div>
