
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

p {
  margin: 0px;
}

.page-container {
  background-color: #fff3ef;

  .text-inbetween {
    width: fit-content;
    margin: 0 auto;
    font-family: roboto;
    font-weight: 500;
    font-size: 19px;
    padding-top: 30px;
    color: #57062fb5;
    letter-spacing: 3px;
    text-shadow: 0px 0px 0.1px rgba(0, 0, 0, 0);
  }
}

