.page-container {
  background-color: #fff3ef;
}

.cocktail_link {
  font-size: 20px;
  color: floralwhite;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
  text-align: center;
  font-weight: 200;
  Font-family: roboto;
  letter-spacing: 3px;
}

.cocktail_link:hover {
  color: floralwhite;
  text-decoration: none;
}// Specific CSS for your home-page

.home_button {
    margin: 12px;
    background: rgb(226, 165, 154);
    border-radius: 32px;
    width: 45px;
    height: 40px;
    position: absolute;
    top: 0px;
    left: 40px;
}

.home_button:hover {
  margin: 12px;
  // background-image: asset-url('cocktail_rosa.png');
  // background-size: cover;
  background: rgb(226, 165, 154);
  border-radius: 15px;
  height: 40px;
  width: 45px;;
}
