
.container_new {
  margin: 20px;
}

.headline_cocktail {
  width: max-content;
  margin: auto;
}

.ingredients {
  display: flex;
  justify-content: center;
  margin: 15px;
}

.links_cocktail_new {
  width: max-content;
  margin: auto;
}

p {
  margin: 0px;
}
