
.hintergrund_cocktail_container_header {
  background-image: linear-gradient(to bottom, rgba(255,255,255,0.4) 0%,rgba(255,255,255,0.3) 100%) ,asset-url('banner_cocktail.jpg');
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.hintergrund_cocktail_container {
  display: flex;
  align-items: center;
  min-height: 90vh;
}

.container_cocktail_form {
  max-width: 425px;
  margin-left: auto;
  margin-right: auto;

  h2 {
    text-align: center;
    font-size: 41px;
    Font-family: amatic SC;
    color: $bordeaux;
  }
}

.form-inputs {
  font-size: 15px;

  label {
    color: whitesmoke;
  }

  input #file-upload-button {
    border-color: 1px solid red;
  }
}

.form-control-file {
  color: whitesmoke;
}

.form-actions {
  font-size: 17px;
  display: block;
  margin: auto;
}

.btn-primary {
  font-size: 15px;;
  color: whitesmoke;
  text-shadow: 0px 0.2px 0px rgba(0, 0, 0, 0.3);
  text-align: center;
  font-weight: 200;
  Font-family: roboto;
  letter-spacing: 3px;
  background: rgba(109, 35, 85, 0.8);
  padding: 2px 5px;
  border-radius: 20px;
  display: block;
  max-width: fit-content;
  margin: 30px auto 0px;
  border-color: rgba(109, 35, 85, 0.1);

  &:hover {
    border-radius: 10px;
    border-color: rgba(109, 35, 85, 0.1);
    background: rgba(109, 35, 85, 0.8);
  }
}

input.btn {
  font-size: 15px;;
  color: whitesmoke;
  text-shadow: 0px 0.2px 0px rgba(0, 0, 0, 0.3);
  text-align: center;
  font-weight: 200;
  Font-family: roboto;
  letter-spacing: 3px;
  background: rgba(109, 35, 85, 0.8);
  padding: 2px 5px;
  border-radius: 20px;
  display: block;
  max-width: fit-content;
  margin: 30px auto 0px;
  border-color: rgba(109, 35, 85, 0.1);

  &:hover {
    border-radius: 10px;
    border-color: rgba(109, 35, 85, 0.1);
    background: rgba(109, 35, 85, 0.8);
    color: whitesmoke;
  }
}

.ingredient_list_link {
  color: $bordeaux;
  width: fit-content;
  margin: auto;
  display: block;
  margin-top: 50px;
  background-color: whitesmoke;
  border-radius: 20px;
  padding: 2px 5px;
  font-size: 12px;
  text-decoration: none;

  &:hover {
    border-radius: 6px;
    color: $bordeaux;
    text-decoration: none;
  }
}



