p {
  margin: 0px;
}

.container_new {
  // max-width: 425px;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: center center;
  font-family: roboto;
}

.wrapper {
  padding: 20px;
  max-width: 350px;
  background: rgba(255,255,255,0.80);
  box-shadow: 0 0 0 9px rgba(0,0,0,0.1);
}

.headline_cocktail {
  width: max-content;
  margin: auto;
  Font-family: amatic SC;
  font-size: 30px;
  letter-spacing: 5px;
}

.ingredients {
  // display: flex;
  // justify-content: center;
  // margin: 15px;
}

.ingredients_with_delete {
  display: flex;
  justify-content: space-between;
  width: fit-content;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.links_cocktail_new {
  width: max-content;
  margin: auto;
}

.delete_image_ingredients {
  margin-left: 20px;
}

