  <nav id="navbar">
    <%= link_to image_tag('cocktail_white', class: "home_button"), cocktails_path %></li>
      <ul>
        <li><a href="#" class="link-text">Recipes</a></li>
        <li><a href="#" class="link-text">Our Story</a></li>
    </ul>
  </nav>

